* {
    box-sizing: border-box;
  }
  /* 2 Notre body */
  body {
    padding: 20px;
    margin: 0px;
    font-family: 'segoe ui';
    background-color: rgb(236, 236, 150);
  }

  /* 3 notre navbar */
  .nav {
    height: 120px;
    width: 100%;
    padding: 35px;
    background-color: #1a0817;
    position: relative;
    margin: auto;
  }
  .nav > .nav-header {
    display: inline;
  }
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
    /* padding: 20px 100px 10px 10px; */
  }
  .nav > .nav-btn {
    display: none;
  }



  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

.skills h1{
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 120px;
}

.kimbwambwa{
  display: flex;
  justify-content: center;
  gap: 20px;
  /* word-wrap: normal; */
  text-align: center;
  margin-top: 200px;
}
  
.delacolline{
  width: 20%;
}
.delacolline img{
  width: 54%;
  height: 300px;
  border-radius: 50%;
}



.decole{
  width: 20%;
}
.decole img{
  width: 54%;
  height: 300px;
  border-radius: 50%;
}




.deglise{
  width: 20%;
}
.deglise img{
  width: 54%;
  height: 300px;
  border-radius: 50%;
}




.devmobile{
  width: 20%;
}
.devmobile img{
  width: 54%;
  height: 300px;
  border-radius: 50%;
}



.communication{
  width: 20%;
}
.communication img{
  width: 54%;
  height: 300px;
  border-radius: 50%;
}



  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  } 