* {
  box-sizing: border-box;
}
/* 2 Notre body */
body {
  padding: 5px;
  margin: 0px;
  font-family: 'segoe ui';
  background-color: rgb(255, 255, 255);
}
/* 3 notre navbar */
.nav {
  height: 120px;
  width: 100%;
  padding: 35px;
  background-color: #1a0817;
  position: relative;
  margin: auto;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
  /* padding: 20px 100px 10px 10px; */
}
.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}


.a{
  color:#f9398c;
  text-decoration:none;
}

a:hover,a:focus{
  color:#f9398c;
  text-decoration:underline
}

a:focus,
.btn:focus {
  outline: none;
}

.img-responsive {
    border: 1px solid #ddd;
}

/*-----------------------
----- Typo Styles ------
-------------------------*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  font-weight:300;
}

.big-text{
    font-size:38px;
    font-weight:200;
    line-height:62px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing:0.01em;
    word-spacing: 0.15em;
    text-transform:uppercase;
}

.section-title{
    margin-top:-20px;
    margin-bottom: 80px;
    text-align:center;
}

/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding {
    padding-top:50px;
    padding-bottom:50px;
}
/* ----------------------
----Photo style-----
------------------------ */

.photo img{
  /* border: #1a0817 1px solid; */
  width: 150%;
  height: 1028px;
}
/* ----------------------
----paragraphe voirplus-----
------------------------ */
.voirplus{
  /* border: #1a0817 1px solid; */
  width: 100%;
  padding: 12px;
  margin-top: -5%;
}

.voirplus p{
  color: #ffffff;
  font-size: 48px;
  text-decoration: darkgrey;
  width: 60%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.descri h2{
  margin-top: 20px;
  font-size: 48px;
  width: 60%;
  /* border: #1a0817 1px solid; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.descri h1{
  margin-top: -60px;
  font-size: 120px;
  width: 60%;
  /* border: #1a0817 1px solid; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* ----------------------
----paragraphe insiste-----
------------------------ */
.insiste{
  /* border: #1a0817 1px solid; */
  width: 80%;
  margin-left: 30% ;
  margin-top: -5%;
  padding-left: 30%;
  padding: 20px;
}

/* ----------------------
----Paragraphe insite style -----
------------------------ */

.insiste p{
  font-size: 48px;
  width: 60%;
  margin-left: 30px;
  color: #faf9fa;
font-family: 'Times New Roman', Times, serif;
}


/* ----------------------
----description-----
------------------------ */

.descri{
  /* border: #ff03d5 1px solid; */
  width: 100%;
  /* margin-left: 20px; */
  padding-top: 9%;
  color: #efefef;
  text-overflow: clip;
  font-weight: 300;
}

/* ----------------------
----Photo generique-----
------------------------ */
.generique{
  display: flex;
  justify-content: space-between;
  background-image: url('img/keke3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/* ----------------------
----description-----
------------------------ */

/*----------------------
----- Footer Styles ----
------------------------*/

footer {
    background: rgb(6, 0, 0);
    height: 300px;
    color: #ddd;
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 45px;
    border-top: #ff03d5;

}
.paratha{
  width: 100%;
  /* border: #fbfbfb 1px solid; */
  text-align: center;
  
}

#main-footer p a {
    padding-bottom: 40px;
    font-size: 25px;
    text-decoration: none;
}

#main-footer p {
    text-align: center; 
}

.social-links {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:30px;
}

.social-links li{
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    box-shadow:0 4px 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a {
    display:block;
    color:rgb(84, 11, 173);
    font-size:21px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#ffffff;
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a:hover {
    color:rgb(240, 12, 12);
    background:#9a3a3a;
}






 



@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }

  .descri h2{
    margin-top: 60px;
    font-size: 24px;
    width: 60%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

  .descri h1{
    margin-top: 10px;
    font-size: 36px;
    width: 60%;
    border: #1a0817 1px solid;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }

  .insiste p{
    font-size: 24px;
    width: 100%;
  font-family: 'Times New Roman', Times, serif;
  }

  .voirplus p{
    font-size: 24px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  .generique{
    display: flex;
    flex-direction: column;
  }

  .photo img{
    border: #1a0817 1px solid;
    width: 100%;
    height: 380px;
  }

  .descri{
    border: #ff03d5 1px solid;
    width: 100%;
    margin-top: -25%;

  }
  footer {
    background: rgb(0, 0, 0);
    height: 150px;
    color: #ddd;
    justify-content: center;
    text-align: center;
    /* margin: auto; */
    padding: 45px;

}
.big-text{
  font-size:18px;
  font-weight:200;
  line-height:62px;
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing:0.01em;
  word-spacing: 0.15em;
  text-transform:uppercase;
}
.paratha p{
  color: #000000;
}
} 